<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        sample Layout
    </title>
    <link rel = "stylesheet" href = "layoutStyles.css">
</head>

<body>
    <header>
        <img class="logo" src="" width=5% height=40% />

        <nav class="navigationBar">
            <button>Menu1</button>
            <button>Menu2</button>
            <button>Menu3</button>
            <button>Menu4</button>
        </nav>

        <button class="menus"> Menus </button>
    </header>
    <main>
        <aside class="filter">
            filter
        </aside>
        <section class="mainSection">
            <ul>
                <li class = "card">Product card</li>
                <li class = "card">Product card</li>
                <li class = "card">Product card</li>
                <li class = "card">Product card</li>
                <li class = "card">Product card</li>
                <li class = "card">Product card</li>
                <li class = "card">Product card</li>
                <li class = "card">Product card</li>
                <li class = "card">Product card</li>
                <li class = "card">Product card</li>
                <li class = "card">Product card</li>
                <li class = "card">Product card</li>
                <li class = "card">Product card</li>
                <li class = "card">Product card</li>
                <li class = "card">Product card</li>
            </ul>
        </section>
    </main>
    <footer>
        Footer
    </footer>
</body>

</html>
